
/* Header rules*/
.date-picker-value {
  cursor: pointer;
  line-height: 3em;
  font-size: 1.4em;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 1em;
}


/* Month calendar rules */
.month-calendar .row {
  margin-bottom: 0;
}
.month-calendar .col {
  width: 14.2855555%;
  margin-left: auto;
  left: auto;
  right: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


/* Month calendar Header rules */
.month-calendar .calendar-header .col {
  line-height: 3em;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}


/* Month calendar Body rules */
.month-calendar .calendar-body .col {
  line-height: 4em;
  padding: 1em;
}
.month-calendar .calendar-body .col:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
}


/* Current day rules */
.month-calendar .calendar-body .col.current-day {
  background-color: rgba(0, 100, 0, 0.1);
}
.month-calendar .calendar-body .col.current-day:hover {
  background-color: rgba(0, 100, 0, 0.2);
}
.month-calendar .calendar-body .col.current-day::after {
  content: "Today";
  float: right;
  line-height: 0;
  margin-right: -1em;
  font-weight: 100;
  font-size: 0.9em;
}


/* Empty day cell rules */
.month-calendar .calendar-body .col.empty-day:hover {
  cursor: initial;
  background-color: initial;
}
.month-calendar .calendar-body .col.empty-day {
  background-color: initial
}


/* Day number rules */
.month-calendar .calendar-body .col .day-no {
  float: right;
  text-align: center;
  opacity: 0.4;
  font-size: 2em;
  font-weight: 200;
  margin-right: -0.3em;
}
.month-calendar .calendar-body .col:hover .day-no {
  opacity: 1;
}


/* Medium size (m) */
@media (max-width: 991px) {
  .date-picker-value {
    line-height: 2.5em;
    font-size: 1.2em;
    margin: 0 0.5em;
  }

  .month-calendar .calendar-header .col {
    font-size: 1em;
  }
  .month-calendar .calendar-body .col {
    padding: 0.8em;
  }

  .month-calendar .calendar-body .col .day-no {
    font-size: 1.5em;
    opacity: 0.6;
  }

  .month-calendar .calendar-body .col.current-day::after {
    font-size: 0.75em;
  }
}
